.leftbar-parent {
    display: flex;
    position: absolute;
    left: 0;
    width: 10%;
    height: 100%;
}

.leftbar {
    display: flex;
    border-radius: 35px;
    max-height: 95vh;
    height: auto;
    box-shadow: 0px 0px 10px var(--bg-darkness);
    margin: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    background: var(--bg-dark);
    left: -65px;
    top: 50%;
    transform: translate(0, -50%);

    transition: all .2s ease;
}


.leftbar-button,
.attachment-button {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 35px;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--bg);
    box-shadow: 0px 0px 5px var(--bg);

    transition: all .2s ease;
}


.leftbar-attached .attachment-button {
    background: var(--wrong-color);
    box-shadow: 0px 0px 5px var(--wrong-color);
}

.leftbar-button>svg {
    color: var(--text);
}

.leftbar-button:hover,
.attachment-button:hover {
    transform: scale(1.1);
}

.main-logo {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--bg-darkness-dark);
}

.main-branchs {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    scroll-behavior: smooth;
}

.create-button {
    border-top: 1px solid var(--bg-darkness-dark);
    margin-top: 10px;
}

.leftbar-attached {
    display: flex;
    border-radius: 35px;
    max-height: 95vh;
    height: auto;
    box-shadow: 0px 0px 10px var(--bg-darkness);
    margin: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    background: var(--bg-dark);
    left: 0;
    top: 50%;
    transform: translate(0, -50%);

    transition: all .2s ease;
}

@media screen and (max-width: 600px) {
    .leftbar-parent {
        display: flex;
        position: sticky;
        width: 100%;
        height: 5rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        max-height: 5rem;
        box-shadow: 0px 0px 15px var(--bg-darkness-dark);

    }

    .create-button {
        border-top: none;
        border-left: 1px solid var(--bg);
        margin-top: 0;
        margin-left: 10px;
    }

    .main-logo {
        margin-bottom: 0;
        margin-right: 10px;
        border-bottom: none;
        border-right: 1px solid var(--bg-darkness-dark);
    }

    .attachment-button {
        display: none;
    }

    .main-branchs {
        flex-direction: row;
        overflow: auto;
    }


    .leftbar,
    .leftbar-attached {
        display: flex;
        position: unset;
        flex-direction: row;
        width: auto;
        border-radius: 0;
        margin: 0;
        padding: 0;
        box-shadow: none;
        height: 100%;
        min-width: 100%;
        max-height: 100%;
        transform: none;
        z-index: 1;
    }
}


@media screen and (min-width: 600px) {
    .leftbar-parent:hover .leftbar {
        transform: translate(60px, -50%);
    }
}