.main-space-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 50px;
    width: 100%;
    height: 100%;
}

.main-space {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 15px var(--bg) inset;
    align-items: flex-start;
    flex-direction: column;
    background: var(--bg-dark);
    margin: 14vw;
    margin-top: 2vh;
    margin-bottom: 2vh;

    max-height: 90%;
    overflow: hidden;

}

.main-top-inputs-parents {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.main-columns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;

}

.add-column-button {
    display: flex;
    width: 100%;
    height: 30px;
    padding: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all .2s ease;
    align-items: center;
    justify-content: center;
    background: var(--bg-darkness);
    overflow: hidden;
}

.add-column-button>svg {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: var(--text);
}

.add-column-button:hover {
    background: var(--bg-darkness-dark);
}

.main-branch-name {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 99%;
    height: auto;
    margin: 5px;
    border: none;
    font-size: calc(25px + 1.5vmin);
    font-weight: 600;
    resize: none;
    text-decoration: underline var(--bg-darkness-dark);
    background: none;
    color: var(--text);
}

.main-space-color-input {
    display: flex;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    margin: 20px;
    margin-bottom: 5px;
    border: none;
    padding: 0;
    box-sizing: unset;
    cursor: pointer;
    background: var(--bg-darkness-dark);
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    box-shadow: 0px 0px 5px var(--text);
}

.main-space-color-input::-webkit-color-swatch-wrapper {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.main-space-color-input::-webkit-color-swatch {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.main-space-color-input:hover {
    transform: scale(1.1);
}

.remove-branch {
    display: flex;
    width: 40px;
    height: 40px;
    border: none;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    border-radius: 50%;
    margin: 20px;
    margin-top: 5px;
    cursor: pointer;
    padding: 5px;
    background: var(--wrong-color);
    box-shadow: 0px 0px 10px var(--wrong-color);

    transition: all .2s ease;
}

.remove-branch>svg {
    color: var(--text);
}

.remove-branch:hover {
    transform: scale(1.1);
    background: var(--bg);
    box-shadow: 0px 0px 5px var(--bg);
}

@media screen and (max-width: 600px) {
    .main-space-parent {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .main-space {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        max-height: 100%;
    }

    .add-column-button {
        border-radius: 0;
        height: 5rem;
    }

    .remove-branch {
        width: 35px;
        height: 35px;
        margin: 10px;
    }

    .main-space-color-input {
        width: 35px;
        min-width: 35px;
        height: 35px;
        min-height: 35px;
        margin: 10px;
    }

}