.column {
    display: flex;
    height: 90%;
    flex-direction: column;
    box-shadow: 0px 0px 15px var(--bg-darkness-dark) inset;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background: var(--bg-darkness);
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 0;
    min-width: 12rem;
    max-width: 100%;
    width: 100%;
}

.column-name {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: fit-content;
    border: none;
    background: none;
    color: var(--text);
    font-size: calc(10px + 1.5vmin);
    font-weight: 600;
    resize: none;
    min-height: 30px;
    text-decoration: underline 3px var(--bg-darkness-dark);
}


.column-color-input {
    display: flex;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    margin: 10px;
    border: none;
    padding: 0;
    box-sizing: unset;
    cursor: pointer;
    background: var(--bg-darkness-dark);
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    box-shadow: 0px 0px 5px var(--text);
}

.column-color-input::-webkit-color-swatch-wrapper {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.column-color-input::-webkit-color-swatch {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.column-color-input:hover {
    transform: scale(1.1);
}

.remove-column {
    display: flex;
    height: 30px;
    width: 30px;
    min-width: 30px;
    min-height: 30px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: var(--wrong-color);
    box-shadow: 0px 0px 5px var(--wrong-color);
    margin: 10px;

    transition: all .2s ease;
}

.remove-column>svg {
    color: var(--text);
}

.remove-column:hover {
    transform: scale(1.1);
    background: var(--bg);
    box-shadow: 0px 0px 5px var(--bg);
}

.actvitys-parent {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.create-new-activity-button {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 15px;
    margin-top: -5px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: none;
    cursor: pointer;
    transition: all .2s ease;
    align-items: center;
    justify-content: center;
    background: var(--bg);
    overflow: hidden;
}

.create-new-activity-button>svg {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: var(--text);
}

.create-new-activity-button:hover {
    background: var(--bg-dark);

}

.draggeable-parent {
    display: flex;
    width: 100%;
}

.top-column-buttons {
    display: flex;
    width: 100%;
    height: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .column {
        min-width: 50%;
    }

    .create-new-activity-button {
        height: 60px;
    }
}